[submodule "Adiak"]
	path = Adiak
	url = ../../daboehme/Adiak.git
	branch = add-dl-dependency-v2
[submodule "Caliper"]
	path = Caliper
	url = ../../LLNL/Caliper.git
	branch = releases/v2.10.0
[submodule "apps/LULESH"]
	path = apps/LULESH
	url = ../../daboehme/LULESH.git
	branch = adiak-caliper-support
[submodule "apps/XSBench"]
	path = apps/XSBench
	url = ../../daboehme/XSBench.git
	branch = caliper-support
